.container {
    margin: 10px 30%;
    padding: 10px;
}

h1 {
    text-align: center;
    color: chocolate;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    margin: 30px;
}